.container {
  &__impresora2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    right: 180px;
  }
}
@media (max-width: 1416px) {
  .container {
    &__impresora2 {
      right: 10px;
    }
  }
}
@media (max-width: 1316px) {
  .container {
    &__impresora2 {
      display: none;
    }
  }
}
.concepcon {
  background-color: $secciones;
  display: flex;
  flex-direction: column;
  
  &__par {
    gap: 80px;
    color: white;
    width: 60%;
    margin: 45px;
    align-content: center;
  }
  &__par2 {
    gap: 80px;
    color: white;
    width: 80%;
    margin: 45px;
    align-content: center;
  }

  @media (max-width: 1316px) {
    .concepcon {
      &__par {
        font-size: clamp(0.8125rem, 0.6484rem + 0.9375vw, 1rem);
        width: 90%;
      }
    }
  }
  @media (max-width: 670px) {
    .concepcon {
      &__par {
        width: 80%;
      }
    }
  }
}
